@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans:wght@300&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box !important;
    font-size: 17.5px;
    
    
}
body{
  overflow-x: hidden !important;
  font-family: "Oxygen";
   
}

::selection{
    background: #AEF8FF;
    color:#0197A6;
}
.uCard{
  box-shadow: 10px 10px 20px #838383;
  border-radius: 10px;
  position: relative;
  padding-top : 4rem;
  width: 15rem;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.user{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  box-shadow: -2px -2px 10px  #838383;
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
}
#user0{
  background: url(https://drive.google.com/file/d/1Nw0LWqWNgs-Hcdv0fj4eLaonH1iNcfuA/view?usp=drivesdk);
  background-size: cover;
}
#user1{
    background: url(https://images.unsplash.com/photo-1639149888905-fb39731f2e6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHVzZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60);
      background-size: cover;


}
#user2{
  background :url(https://images.unsplash.com/photo-1528892952291-009c663ce843?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODN8fHVzZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60);
  background-size: cover;
}

#user3{
  background: url(https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDd8fHVzZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60) ;
  background-size:cover;
}
#heroimage {
   max-width: 75%;
   
}
.feature-icon-small {
  width: 3rem;
  height: 3rem;
  background : #0197A6 !important;
}
.feature-icon-small  i{
  color: #FFFFFF;
  font-size: 20px;
}
/*#herotittle {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
 
}*/
.bn62 {
  color: #0197A6;
  background-color: #C8F0F4 ;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 8em;
  font-size: large;
  font-weight: 600;
  border: none;
  outline-color: none;
}
.bn62:hover{
    background: #0197A6;
    color:#C8F0F4;

}
#herotittle h1{
   font-size: 3em;
   font-family: "Dm Serif Display";
   line-height: 60px;
   
}
#heroimage-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.hero .btn{
    align-self: flex-start;
}
#h1::first-letter{
    color: #0197A6;
    font-size: 2.3em;
}
#hero-row{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-flow: column-reverse;
}
#info{
    text-align: center;
    margin-top: 60px !important;
    color: #7D7D7D;
}

.info-card h1{
    color: #0197A6;
    font-size: 2.5em;
}

.splide__slide img{
    width: 100%;
}
.splide{
   width: 80%; 
   margin: auto;
}
#whatdo{
    
    display: flex !important;
    justify-content: center;
    align-items: center;
}
#whatdo h1{
 position: relative;
 
}

.tittext::after{
    content: "";
    display: block;
    border: 1px solid black;
    position: absolute;
    width : 100px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
    left: 50px;
}
#aim{
    display: none;
}
#whatdo #a::before{
   content: "1";
   position: absolute;
   font-size: 4rem;
   z-index: -1000;
   display: block;
   color: #ABABAB;
   font-weight: 200px;
   left: 46vw;
}
#b::before{
    content: "2";
    position: absolute;
    font-size: 4rem;
    z-index: -1000;
    display: block;
    color: #ABABAB;
    font-weight: 200px;
}
#c::before{
    content: "3";
    position: absolute;
    font-size: 4rem;
    z-index: -1000;
    display: block;
    color: #ABABAB;
    font-weight: 200px;
}
#description img{
    width: 100%;
}
#description{
    font-size: 13px;
}
#desimg{
    display: none;
}
.destext{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
  width: 100vw;
  overflow-x: hidden !important;
}
footer a{
  text-decoration: none !important;
}
@media (orientation: landscape) {
    #hero-row {
        flex-direction: row;
    }
    .splide{
        overflow: hidden;
        height: 70vh;
        width: 70vw;
        margin-top: 40px;
    }
    #aim{
        display: block;
    }
   #aim img{
       width: 100%;
   }
   #desimg{
    display: flex;
   }
}
@media only screen and (max-width: 600px) {
  #heroimage , #description img{
    display: none;
  }
  .hero{
    height:  95vh;
    width: 95vw;
    padding-top: 100px;
    line-height: 70px;
    
  }
  section{
    width: 100vw;
  }
 #whatdo{
   padding-left: 50px;
 }
 #info{
   margin-top: 0 !important;
 }
}